#app {
    height: 100vh;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-top: 10%;
    margin-bottom: 5%
}
.container-registration {
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}