#app {
    height: 100vh;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-top: 10%;
    margin-bottom: 5%;
}
.container-registration {
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
#list-of-lecturers {
    border-top: 4px solid rgb(66, 139, 202);
}

#thesis-registration {
    border-top: 4px solid rgb(66, 139, 202);
}
.row {
    margin-bottom: 3%;
}
#offerSlogan {
    margin-bottom: 3%;
}